* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Branding Guidelines https://developer.spotify.com/branding-guidelines/ */
:root {
    /* Palette */
    --black-spotify: #121212;
    --green-spotify: #1DB954;
    --white-spotify: #FFFFFF;

    /*  */
    --player-spotify: #282828;
    --black: #040404;
    --headercolor-spotify: rgba(0,0,0,.4);
    --lightgrey: #b3b3b3;

    /*  */
    --glue-font-weight-normal: 400;
    --glue-font-weight-bold: 500;
    --glue-font-weight-black: 900;
}

html {
    scrollbar-color: hsla(0,0%,100%,.3) transparent;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black-spotify);

}

.container,
.sub-container-1,
.sub-container-2,
header,
aside,
.nav,
.nav ul,
.nav li {
    display: flex;
}

aside {
    background-color: var(--black);
    width: 230px;
    height: calc(100vh - 90px);
    flex: 0 0 230px;

}

.nav {
    flex-direction: column;
}

.logo {
    padding: 24px 18px;
}
.spotify-logo--text {
    fill: var(--white-spotify);
    width: 131px;
    height: 40px;
}

.nav ul {
    flex-direction: column;
}
.nav li {
    color: var(--white-spotify);
    color: var(--lightgrey);
    align-items: center;
    border-left: 3px solid var(--black);
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: var(--glue-font-weight-bold);
    letter-spacing: .03em;
}

.nav li:hover {
    color: var(--white-spotify);
}

.nav li.active {
    color: var(--white-spotify);
    border-left: 3px solid var(--green-spotify);
    align-items: center;
}

.nav li svg {
    margin-left: 18px;
    margin-right: 18px;
}

/* .nav label {
    display: none;
} */
footer {
    background-color: var(--player-spotify);
    height: 90px;
    width: 100vw;
    flex: 1 0 100%;
    position: fixed;
    bottom: 0;
}

.container-right {
    flex-wrap: wrap;
}

header {
    background-color: var(--headercolor-spotify);
    height: 80px;
    width: calc(100% - 245px);
    opacity: 0.9;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.header-cta button{
    background-color: transparent;
    border: 1px solid var(--white-spotify);
    color: var(--white-spotify);
    text-transform: uppercase;
    border-radius: 500px;
    padding: 8px 34px;
    font-weight: var(--glue-font-weight-normal);
}

main {
    padding-top: 80px;
    background-color: var(--black-spotify);
    width: calc(100% - 230px);
    height: calc(100vh - 90px);
    overflow-y: auto;
    flex: 1 0 calc(100% - 230px);
}
