* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Branding Guidelines https://developer.spotify.com/branding-guidelines/ */
:root {
    /* Palette */
    --black-spotify: #121212;
    --green-spotify: #1DB954;
    --white-spotify: #FFFFFF;

    /*  */
    --player-spotify: #282828;
    --black: #040404;
    --headercolor-spotify: rgba(0,0,0,.4);
    --lightgrey: #b3b3b3;

    /*  */
    --glue-font-weight-normal: 400;
    --glue-font-weight-bold: 500;
    --glue-font-weight-black: 900;
}

html {
    scrollbar-color: hsla(0,0%,100%,.3) transparent;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black-spotify);
    overflow-x: hidden;
}

a, a:focus, a:hover {
    text-decoration: none;
}

a:focus, a:hover {
    border-bottom-color: currentcolor;
}

.container,
.sub-container-1,
.sub-container-2,
header,
aside,
main,
.nav,
.nav ul,
.nav li,
.nav .playlists ul,
.nav-bottom,
.nav-app,
.nav-user,
.player-control,
.player-control-left,
.player-control-center,
.player-control-right,
.text-song,
.controls,
.slider-song,
.list-top ul,
.list-top li,
.recently-played-carousel ul,
.recently-played-carousel li,
.created-for-carousel ul,
.created-for-carousel li,
.created-for-carousel,
.pop-artists-carousel,
.pop-artists-carousel ul,
.pop-artists-carousel li {
    display: flex;
}

aside {
    background-color: var(--black);
    width: 230px;
    height: 100%;
    /* flex: 1 1 230px; */

}

.nav {
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    padding: 24px 18px;
}
.spotify-logo--text {
    fill: var(--white-spotify);
    width: 131px;
    height: 40px;
}

.nav ul {
    flex-direction: column;
}
.nav li {
    color: var(--white-spotify);
    color: var(--lightgrey);
    align-items: center;
    border-left: 3px solid var(--black);
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: var(--glue-font-weight-bold);
    letter-spacing: .03em;
}

.CreatePlaylistButton__svg {
    background: var(--lightgrey);
    width: 32px;
    height: 32px;
    padding: 4px;
}

.nav li:hover .CreatePlaylistButton__svg {
    background: var(--white-spotify);
}

.nav li:hover {
    color: var(--white-spotify);
}

.nav li.active {
    color: var(--white-spotify);
    border-left: 3px solid var(--green-spotify);
    align-items: center;
}

.nav li svg {
    margin-left: 18px;
    margin-right: 18px;
}

.playlists {
    margin-top: 15px;
    margin-bottom: 15px;
}

.playlists h2 {
    color: var(--lightgrey);
    text-transform: uppercase;
    font-weight: var(--glue-font-weight-normal);
    letter-spacing: .16em;
    font-size: 11px;
    padding-left: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.playlists li.fibonacci {
    margin-left: 18px;
}
.nav .playlists ul {
    max-height: 200px;
    width: 225px;
    overflow-y: auto;
}
/* .nav label {
    display: none;
} */

hr.divider {
    margin: 4px 24px 4px 24px;
    border-color: #282828;
}

.nav-bottom {
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

svg.download {
    width: 18px;
}

img.user-img {
    width: 25px;
    border-radius: 50px;
    margin-left: 18px;
    margin-right: 18px;
}

.nav-user h3 {
    color: var(--white-spotify);
    font-size: 12px;
    font-weight: var(--glue-font-weight-bold);

}

footer {
    background-color: var(--player-spotify);
    height: 90px;
    width: 100%;
    /* flex: 1 1 100%; */
    position: fixed;
    bottom: 0;
}

.player-control {
    color: var(--lightgrey);
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px
}

.player-control-left {
    width: 30%;
    min-width: 180px;
    align-items: center;
    justify-content: flex-start;

}
.img-song,
.text-song,
.fav-song,
.fullscreen {
    margin-left: 16px;
}

.text-song {
    flex-direction: column;
    flex: 0 0 auto;
}

a.song {
    color: var(--white-spotify);
    border-bottom: 1px solid transparent;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    text-align: left;
}

a.song:hover {
    color: var(--white-spotify);
    border-bottom: 1px solid var(--white-spotify);
}

a.artist {
    color: var(--lightgrey);
    border-bottom: 1px solid transparent;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .015em;
    text-align: left;
}

a.artist:hover{
    color: var(--white-spotify);
    border-bottom: 1px solid var(--white-spotify);
    white-space: nowrap;
}
.fav-song {
    font-size: 16px;
}

.img-song img {
    width: 56px;
}





.player-control-center {
    width: 30%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}





.player-control-right {
    width: 30%;
    align-items: center;
    justify-content: flex-end;
}

.queue,
.devices,
.volume,
.slider-volume {
    margin-right: 8px;
    margin-left: 8px;
}

.queue:hover,
.devices:hover,
.volume:hover,
.shuffle:hover,
.previus:hover,
.play:hover,
.next:hover,
.repeat:hover,
.fav-song:hover,
.fullscreen:hover {
    color: var(--white-spotify);
}

.shuffle,
.shuffle:hover {
    color: var(--green-spotify);
}
.slider-volume,
.slider-s {
    transform: translateY(-3px);
}
.slider-volume {
    margin-right: 16px;
}
#myvol {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 150px; /* Full-width */
  height: 5px; /* Specified height */
  background: #404040; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
#myvol:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#myvol::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5px; /* Set a specific slider handle width */
  height: 5px; /* Slider handle height */
  background: var(--lightgrey); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#myvol::-moz-range-thumb {
  width: 5px; /* Set a specific slider handle width */
  height: 5px; /* Slider handle height */
  background: var(--lightgrey); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#mysong {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 300px; /* Full-width */
  height: 5px; /* Specified height */
  background: #404040; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
#mysong:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#mysong::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5px; /* Set a specific slider handle width */
  height: 5px; /* Slider handle height */
  background: var(--lightgrey); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#mysong::-moz-range-thumb {
  width: 5px; /* Set a specific slider handle width */
  height: 5px; /* Slider handle height */
  background: var(--lightgrey); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.shuffle,
.previus,
.play,
.next,
.repeat,
.time,
.slider-s,
.time-total {
    margin-left: 8px;
    margin-right: 8px;
}

.controls {
    align-items: center;
}
.play {
    font-size: 30px;
}
.container-right {
    flex-wrap: wrap;
}

header {
    background-color: var(--headercolor-spotify);
    height: 80px;
    width: calc(100% - 245px);
    position: fixed;
    top: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.header-cta button {
    background-color: transparent;
    border: 1px solid var(--lightgrey);
    color: var(--lightgrey);
    text-transform: uppercase;
    border-radius: 500px;
    padding: 8px 34px;
    font-weight: var(--glue-font-weight-normal);
    transition: 0.5s;
}

.header-cta button:hover {
    background-color: var(--white-spotify);
    border: 1px solid var(--white-spotify);
    color: var(--black-spotify);
    transform: scale(1.2);


}

main {
    padding-top: 80px;
    background-color: var(--black-spotify);
    width: calc(100vw - 230px);
    height: calc(100vh - 90px);
    overflow-y: auto;
    /* flex: 1 0 calc(100% - 230px); */
    flex-direction: column;
    padding-right: 20px;
}

.list-top {
    margin: 15px;

}
.list-top ul {
    /* flex-wrap: wrap; */
    overflow-x: auto;
    width: 100%;

}

main::-webkit-scrollbar {    display: none;}
.list-top li {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--lightgrey);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: var(--glue-font-weight-bold);
    list-style-type: none;
    flex: 0 0 auto;

}

.list-top li.active {
    color: var(--white-spotify);
    border-bottom: 3px solid var(--green-spotify);
    align-items: center;
}
.list-top li:hover {
    color: var(--white-spotify);
}

.recently-played h2,
.created-for h2,
.pop-artists h2 {
    color: var(--white-spotify);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
}

.recently-played-carousel ul,
.created-for-carousel ul,
.pop-artists-carousel ul {
    flex-wrap: nowrap;
    overflow-x: auto;

}
.recently-played-carousel li,
.created-for-carousel li,
.pop-artists-carousel li {
    flex-direction: column;
    align-items: center;
    margin: 15px;
    align-content: center;
    text-align: center;
    margin-bottom: 30px;
}


.album img {
    width: 128px;
}
.album-artist img {
    width: 180px;
    border-radius: 50%;
}

.album-name h5 {
    color: var(--white-spotify);
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.artist h6 {
    color: var(--lightgrey);
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}
